// Site's colors
$color-1: #E0D8B0;
$color-2: #ffc533;
$color-3: #CE9461;
$color-4: #FCFFE7;
$color-5: #DEA057;
$red: #FAA0A0;
$green: #AFE1AF;

#cityInfo {
    display: flex;
}

#leftSide {
    flex: 50%;
}

#rightSide {
    flex: 50%;
}

#image {
    box-shadow: 1px 1px 10px black;
}

#imageDiv {
    position: relative;
    top: 20px;
    left: 0;
}

#addToFavs {
    position: relative;
    top: 40px;
    left: 45px;
}

#removeFromFavs {
    position: relative;
    top: 40px;
    left: 25px;
}


#nameCityText {
    position: relative;
    top: 15px;
    left: 0;
}

#cityTagsList li{
    display: inline-block;
}

#cityTags {
    position: relative;
    top: 10px;
    left: -32px;
    font-size: 25px;
    font-weight: 300;
}

#history, #airports, #landmarks {
    position: relative;
    top: 20px;
    left: 0;
    text-align: justify;
}

.buttonAddFav {
    --bs-btn-font-weight: bold;
    --bs-btn-color: black;
    --bs-btn-border-color: #{$green};
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #{$green};
    --bs-btn-hover-border-color: #{$green};
}

.buttonRemoveFav {
    --bs-btn-font-weight: bold;
    --bs-btn-color: black;
    --bs-btn-border-color: #{$red};
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #{$red};
    --bs-btn-hover-border-color: #{$red};
}

#airportsList {
    position: relative;
    top: 0;
    left: -32px;
    display: inline-block;
}

ul {
    list-style-type: none;
}

#distanceToCity {
    height: 25px;
    width: 100px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
}

#landmarkList {
    position: relative;
    top: 0;
    left: -32px;
}

// responsive screens
// iPad Air + landscape
@media (min-width: 1024px)  and (max-width: 1180px) and (orientation: landscape) {
}

// iPad Air + portrait
@media (min-width: 768px) and (max-width: 820px) and (orientation: portrait){

}

// iPhone 12 Pro + landscape 
@media (min-width: 844px)  and (max-width: 844px) and (orientation: landscape) {

}

// iPhone 12 Pro + portrait
@media (min-width: 390px)  and (max-width: 390px) and (orientation: portrait) {

}