// Site's colors
$color-1: #E0D8B0;
$color-2: #ffc533;
$color-3: #CE9461;
$color-4: #FCFFE7;
$color-5: #DEA057;
$red: #FAA0A0;
$green: #AFE1AF;

#cityInfo {
    display: flex;
}

#leftSide {
    flex: 50%;
}

#rightSide {
    flex: 50%;
}

#image {
    box-shadow: 1px 1px 10px black;
}

#imageDiv {
    position: relative;
    top: 20px;
    left: 0;
}

#addToFavs {
    position: relative;
    top: 40px;
    left: 45px;
}

#removeFromFavs {
    position: relative;
    top: 40px;
    left: 25px;
}

.rate {
    position: relative;
    top: 47px;
    left: 100px;
}

#nameCityText {
    position: relative;
    top: 15px;
    left: 0;
}

#cityTagsList li{
    display: inline-block;
}

#cityTags {
    position: relative;
    top: 10px;
    left: -32px;
    font-size: 25px;
    font-weight: 300;
}

#history, #airports, #landmarks {
    position: relative;
    top: 20px;
    left: 0;
    text-align: justify;
}

.buttonAddFav {
    --bs-btn-font-weight: bold;
    --bs-btn-color: black;
    --bs-btn-border-color: #{$green};
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #{$green};
    --bs-btn-hover-border-color: #{$green};
}

.buttonRemoveFav {
    --bs-btn-font-weight: bold;
    --bs-btn-color: black;
    --bs-btn-border-color: #{$red};
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #{$red};
    --bs-btn-hover-border-color: #{$red};
}

#airportsList {
    position: relative;
    top: 0;
    left: -32px;
    display: inline-block;
}

ul {
    list-style-type: none;
}

#distanceToCity {
    height: 25px;
    width: 100px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
}

#landmarkList {
    position: relative;
    top: 0;
    left: -32px;
}

.list-group {
    margin-left: 30px; 
    width: 310px;
    cursor: pointer;
}

.informationCity {
    position: relative;
}
  
.informationCity::after {
    content: "I got the city's information from Wikipedia!";
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    width: 150px;
    background-color: $color-2;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
  
.informationCity:hover::after {
    display: block;
}

.informationLandmark {
    position: relative;
  }
  
.informationLandmark::after {
    content: "I got the landmarks from Overpass API!";
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-90%);
    width: 150px;
    background-color: $color-2;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
  
.informationLandmark:hover::after {
    display: block;
}

// responsive screens
// iPad Air + landscape
@media (min-width: 1024px)  and (max-width: 1180px) and (orientation: landscape) {
    img {
        width: 250px;
        height: 250px;
    }
}

// iPad Air + portrait
@media (min-width: 768px) and (max-width: 820px) and (orientation: portrait){
    img {
        width: 350px;
        height: 350px;
    }
}

// iPhone 12 Pro + landscape 
@media (min-width: 844px)  and (max-width: 844px) and (orientation: landscape) {
    img {
        width: 350px;
        height: 350px;
    }
}

// iPhone 12 Pro + portrait
@media (min-width: 390px)  and (max-width: 390px) and (orientation: portrait) {
    #cityInfo {
        display: block;
    }

    img {
        width: 320px;
        height: 320px;
    }
    #rightSide {
        margin-top: 40px;
    }
}