<div id="cityInfo">
    <div id="leftSide">
        <div id="imageDiv">
            <img id="image" src="../../../../assets/photos/pexels-alex-azabache-3757144.jpg" width="280px" height="280px">
        </div> 
        <div id="addToFavs" *ngIf="loggedUser === true && isFavourite() === false">
            <button class="btn btn-outline-light rounded-pill buttonAddFav" (click)="addFavourite()">&nbsp;{{ "city-info-add" | translate }} &nbsp;<i class="fa-regular fa-heart"></i>&nbsp;</button>
        </div>
        <div id="removeFromFavs" *ngIf="loggedUser === true && isFavourite() === true">
            <button class="btn btn-outline-light rounded-pill buttonRemoveFav" (click)="removeFavourite()">&nbsp;&nbsp;{{ "city-info-remove" | translate }} &nbsp;<i class="fa-solid fa-heart-crack"></i>&nbsp;&nbsp;</button>
        </div>
    </div>
    <div id="rightSide">
        <div id="nameCityText"><h2>{{ city[cityNameAttribute] }} </h2></div> 
        <div id="cityTags">
            <ul id="cityTagsList">
                <li *ngFor="let tag of tags">{{ tag[tagNameAttribute] }}. &nbsp;</li>
            </ul>
        </div>

        <div id="history">
            <h4> {{ "city-info-history" | translate }} </h4>
                <p>{{ city[historyAttribute] }}</p>
        </div>

        <div id="landmarks">
            <h4> {{ "city-info-landmarks" | translate }} </h4>
            <div id="landmarkList">
                <ul>
                    <li *ngFor="let landmark of landmarks">
                        {{ landmark['name'] }}
                    </li>
                </ul>
            </div>
        </div>

        <div id="airports">
            <h4> {{ "city-info-airports" | translate }} </h4>
            <div id="airportsList">
                <ul>
                    <li *ngFor="let airport of airports">
                        {{ airport[airportNameAttribute] }}
                        <span id="distanceToCity"> 
                            &nbsp; &nbsp; {{ airport['distanceToCity'] }}&nbsp;km &nbsp; &nbsp;
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- <div>
    <div id="buttons">
        <button (click)="jumpToSection(general)" class="btn btn-secondary"> General Information </button> &nbsp;
        <button (click)="jumpToSection(history)" class="btn btn-info"> Brief History </button> &nbsp;
        <button (click)="jumpToSection(airports)" class="btn btn-secondary"> Airports </button> &nbsp;
        <button (click)="jumpToSection(landmarks)" class="btn btn-info"> Landmarks </button> &nbsp;
    </div>

    <div #general class="divs">
        <span class="commonTags"> &nbsp; &nbsp; {{ city['countryEng'] }} &nbsp; &nbsp; </span> 
        <span class="commonTags"> &nbsp; &nbsp; {{ city['currencyName'] }} &nbsp; &nbsp; </span>
    </div>

    <div #history class="divs">
        <h3> Brief History </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
    </div>

    <div #airports class="divs">
        <h3> Airports </h3>
    </div>

    <div #landmarks class="divs">
        <h3> Landmarks </h3>
    </div>
</div> -->

