// Site's colors
$color-1: #FF36D6;
$color-2: #9F2FDE;
$color-3: #5D3FF5;
$color-4: #2F62DE;
$color-5: #25C5FA;

#image {
    z-index: 2;
    position: relative;
    top: -50px;
    left: -20px;
}

#nameCity {
    position: relative;
    top: -12vh;
    left: 8vw;
    width: 30vw;
    height: 10vh;
    z-index: 3;
    box-shadow: 1px 1px 18px #888888;
    border-radius: 25px !important;
    background-color: $color-2;
    opacity: 0.9;
}

#nameCityText{
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
