<div id="board">
  <header>
    <!-- From bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <!-- <a class="navbar-brand" href="#"> &nbsp; &nbsp; WanderJoy</a> -->
        <img src="../../../assets/photos/logo.png" style="width:130px;height:auto;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="mainMenu" id="button1" class="nav-item active"><a class="nav-link" routerLink="/homepage"> {{ 'menu-home' | translate }} </a></li>
            <li class="mainMenu" id="button3"><a class="nav-link" routerLink="/cities">{{ 'menu-cities' | translate }}</a></li>
            <li class="mainMenu" id="button4" *ngIf = "logged === true"><a class="nav-link" routerLink="/journal">{{ 'menu-journal' | translate }}</a></li>
            <li class="mainMenu" id="button5" *ngIf = "logged === true"><a class="nav-link" routerLink="/wishlist">{{ 'menu-wishlist' | translate }}</a></li>
            <li class="mainMenu" id="button6" *ngIf = "logged === true"><a class="nav-link" routerLink="/profile"><i class="fa fa-user"></i></a></li>
            <li class="mainMenu" id="button7" *ngIf = "logged === true && admin === true"><a class="nav-link" routerLink="/admin">Admin</a>
          </ul>
        </div>
        <button class="btn btn-outline-dark rounded-pill signButtons" *ngIf = "logged === false" routerLink="/login">{{ 'menu-login' | translate }}</button> &nbsp;
        <button class="btn btn-outline-dark rounded-pill signButtons" *ngIf = "logged === false" routerLink="/register">{{ 'menu-join' | translate }}</button>
        <button class="btn btn-outline-dark rounded-pill" *ngIf = "logged === true" (click)="logout()" id="logout">{{ 'menu-logout' | translate }}</button>
        <div class="dropdown"> &nbsp;
          <button class="btn btn-outline-warning rounded-pill dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'menu-language' | translate }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" (click)="switchAppsLanguage('en')">🇺🇸 English</a></li>
            <li><a class="dropdown-item" (click)="switchAppsLanguage('ro')">🇷🇴 Română</a></li>
          </ul>
        </div>
        &nbsp; &nbsp; 
      </nav>
    </header>

  <main>
      <div class="backgroundPhoto">
          <img id="background" src="../../../assets/photos/pexels-pixabay-220182-profile1.jpg" width="auto" heigth="auto">
      </div>
      <div class="profilePhoto">
          <img id="profile" src="../../../assets/UserUploads/UserProfilePics/{{ currentPhotoPath }}" width="248px" heigth="auto">
      </div>
      <div class="body">
        <div class="name">
          <p class="nameParagraph"> {{currentFirstName}} {{ currentLastName }} </p>
          <p class="email"><i class="fa fa-envelope"></i> {{currentEmail}} &nbsp; &nbsp; <i class="fa fa-user"></i> {{currentUsername}} </p>
          <hr>
        </div>
        <div class="backendRequests">
          <div class="changePasswordButton">
            <button class="btn btn-outline-dark rounded-pill" (click)="openChangePasswordForm()"> {{ 'profile-change-password' | translate }} </button>
          </div>
          <div class="changeUsernameButton">
            <button class="btn btn-outline-dark rounded-pill" (click)="openChangeUsernameForm()"> {{ 'profile-change-username' | translate }} </button>
          </div>
        </div>
        <div id="emptyMiddle">
          <div id="gallery" *ngIf="displayGallery === true">
            <h3> {{ 'profile-adventures' | translate }} </h3>
            <button class="btn btn-outline-warning rounded-pill" (click)="goToJournal()">{{ 'profile-journal' | translate }}</button>
            <div id="photos">
              <div id="galleryImage" *ngFor="let image of images">
                <img src="{{ image }}">
              </div>
            </div>
          </div>
          <div id="displayChangePasswordForm" *ngIf="displayChangePasswordForm === true">
            <i class="fa-solid fa-xmark" (click)="closeChangePasswordForm()"></i>
            <div id="passwordForm">
              <h2>{{ 'profile-password-button' | translate }}</h2>
              <div id="form">
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                    <div class="form-group">
                        <input class="form-control" 
                        placeholder="{{ 'profile-pass' | translate }}"
                        type="password"
                        [ngClass]="changePasswordForm.controls['password'].errors ? 'is-invalid' : ''"
                        formControlName="password" />
                    </div>

                    <div class="form-group">
                        <input class="form-control" 
                        placeholder="{{ 'profile-confirm-pass' | translate }}"
                        type="password"
                        [ngClass]="changePasswordForm.controls['confirmPassword'].errors ? 'is-invalid' : ''"
                        formControlName="confirmPassword"/>
                    </div>

                    <p id="message"> {{ message }} </p>

                    <button 
                    class="btn btn-outline-warning rounded-pill"
                    id="changePasswordButton" 
                    [disabled]="changePasswordForm.invalid" 
                    type="submit">
                      {{ 'profile-password-button' | translate }}
                    </button>
                </form>
            </div>
            </div>
          </div>
          <div id="displayChangeUsernameForm" *ngIf="displayChangeUsernameForm === true">
            <i class="fa-solid fa-xmark" (click)="closeChangeUsernameForm()"></i>
            <div id="usernameForm">
              <h2>{{ 'profile-username-button' | translate }}</h2>
              <div id="form">
                <form [formGroup]="changeUsernameForm" (ngSubmit)="changeUsername()">
                    <div class="form-group">
                        <input class="form-control" 
                        placeholder="{{ 'profile-user' | translate }}"
                        [ngClass]="changeUsernameForm.controls['newUsername'].errors ? 'is-invalid' : ''"
                        formControlName="newUsername" />
                    </div>

                    <p id="message"> {{ message }} </p>

                    <button 
                    class="btn btn-outline-warning rounded-pill"
                    id="changeUsernameButton" 
                    [disabled]="changeUsernameForm.invalid" 
                    type="submit">
                      {{ 'profile-username-button' | translate }}
                    </button>
                </form>
            </div>
            </div>
          </div>
        </div>
      </div>
  </main>
</div>
  