// Register scss

// Site's colors
$color-1: #E0D8B0;
$color-2: #ffc533;
$color-3: #CE9461;
$color-4: #FCFFE7;
$color-5: #DEA057;

// Other variables
$standardMargin: 40px;

h1{
    text-align: center;
}

.registerGrid{
    position: relative;
    top: 0;
    left: 20vw;
    display: grid;
    margin: $standardMargin;
    padding: 10px;
    width: 100vh;
    height: 50vw;
    grid-template-columns: auto;
    box-shadow: 1px 1px 18px #888888;
    border-radius: 25px !important;
}

.leftSide{
    background-color: $color-2;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 40vh;
    border-radius: 25px !important;
}

.rightSide{
    margin: $standardMargin;
    padding: 20px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 20vw;
}

input {
    border-width: 3px;
    border-top: solid white;
    border-right: solid white;
    border-left: solid white;
    border-image: 
    linear-gradient(to right, $color-1 0%, $color-2 100%) 0 0 100% 0;
    width: 100%;
    height: 4vh;
    margin: 10px;
    background-color: var(--input-color);
}

#registerButton{
    position: relative;
    top: 0;
    left: 0vw;
    width: 100%;
    height: 5vh;
    border-radius: 0;
    margin: 15px;
}

#registerButton:hover{
    background-image: linear-gradient(to right, $color-5 0%, $color-4 100%);
}

.btn-outline-warning, .btn-outline-warning:invalid {
    --bs-btn-font-weight: bold;
    --bs-btn-color: black;
}

.btn {
    color: black !important;
}

#goToLogin{
    color: var(--text-color);
}

.homeButtonContainer{
    position: absolute;
    bottom: 70px;
    right: 10px;
}

#userAlreadyExists{
    color: red;
    font-weight: bold;
    position: relative;
    top: 0;
    left: 0vw;
}

#dataNotOk{
    font-weight: bold;
    position: relative;
    top: 0;
    left: 0vw;
}

#extra {
    padding: 5px;
}

#form {
    margin-top: 50px;
}