// Site's colors
$color-1: #FF36D6;
$color-2: #9F2FDE;
$color-3: #5D3FF5;
$color-4: #2F62DE;
$color-5: #25C5FA;

// .grid{
//     position: absolute;
//     top: 15px;
//     left: 15px;
//     right: 15px;
//     display: grid;
//     padding: 10px;
//     grid-template-columns: auto;
//     width: 98vw;
//     height: 97vh;
//     box-shadow: 1px 1px 18px #888888;
//     background-color: var(--input-color);
// }

// .table{
//     grid-row-start: 1;
//     grid-row-end: 2;
//     grid-column-start: 2;
//     grid-column-end: 15;
// }

// .menu{
//     background-color:  $color-5;
//     grid-row-start: 1;
//     grid-row-end: 2;
//     grid-column-start: 1;
//     grid-column-end: 2;
// }

h4{
    text-align: center;
    color: var(--text-color);
}

.mainMenu{
    cursor: pointer;
}

#logout{
    cursor: pointer;
}

#board {
    border: 2px solid lightgrey;
    border-radius: 25px !important;
    height: 98vh;
    margin: 10px;
    box-shadow: 1px 1px 18px #888888;
}

.navbar{
    border-top-right-radius: 25px !important; 
    border-top-left-radius: 25px !important; 
}

