// Site's colors
$color-1: #FF36D6;
$color-2: #9F2FDE;
$color-3: #5D3FF5;
$color-4: #2F62DE;
$color-5: #25C5FA;

#listCities {
    position: relative;
    top: 10px;
    left: 10px;
}

.btn {
    margin: 5px;
}

.goBack {
    position: relative;
    top: 5px;
    left: 10px;
    font-size: 30px;
    display: inline-block;
}

i {
    cursor: pointer;
    transition: color 0.3s linear;
}

span {
    text-align: center;
}

i:hover {
    color: $color-3;
}

.btn-info {
    background-color: $color-2 !important;
    border-color: $color-2 !important;
    font-weight: bold;
    transition: background-color 0.5s linear;
}

.btn-info:hover {
    background-color: $color-1 !important;
}

.formAddDelete {
    position: relative;
    top: 1vh;
    left: 1vw;
    border: 1px solid grey;
    width: 96vw;
    height: 82vh;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 1px 1px 18px #888888;
}