// Wishlist scss

// Site's colors
$color-1: #cfb895;
$color-2: #ffc533;
$color-3: #5D3FF5;
$color-4: #2F62DE;
$color-5: #25C5FA;

#board {
    border: 2px solid lightgrey;
    border-radius: 25px !important;
    height: 98vh;
    margin: 5px;
    margin-top: 10px !important;
    box-shadow: 1px 1px 18px #888888;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.navbar{
    border-top-right-radius: 25px !important; 
    border-top-left-radius: 25px !important; 
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
}

#title {
    position: relative;
    top: 10px;
    left: 43vw;
}

#heart {
    position: relative;
    top: 20px;
    left: 48vw;
    font-size: 50px;
}

#cityTable {
    margin: 40px;
}

tr {
    text-align: center;
}

.fa-trash {
    font-size: 20px;
    position: relative;
    top: 7px;
    left: 10px;
    transition: color 0.3s linear;
    cursor: pointer;
}

.fa-trash:hover {
    color: grey;
}

#cityName {
    width: 450px;
}

#countryName {
    width: 450px;
}

#name {
    position: relative;
    top: 7px;
    left: 0;
}

#country {
    position: relative;
    top: 7px;
    left: 0;
}
