<div id="board">
  <header>
    <!-- From bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <!-- <a class="navbar-brand" href="#"> &nbsp; &nbsp; WanderJoy</a> -->
        <img src="../../../assets/photos/logo.png" style="width:130px;height:auto;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="mainMenu" id="button1" class="nav-item active"><a class="nav-link" routerLink="/homepage"> {{ 'menu-home' | translate }} </a></li>
            <li class="mainMenu" id="button3"><a class="nav-link" routerLink="/cities">{{ 'menu-cities' | translate }}</a></li>
            <li class="mainMenu" id="button4" *ngIf = "logged === true"><a class="nav-link" routerLink="/journal">{{ 'menu-journal' | translate }}</a></li>
            <li class="mainMenu" id="button5" *ngIf = "logged === true"><a class="nav-link" routerLink="/wishlist">{{ 'menu-wishlist' | translate }}</a></li>
            <li class="mainMenu" id="button6" *ngIf = "logged === true && admin === false"><a class="nav-link" routerLink="/profile"><i class="fa fa-user"></i></a></li>
            <li class="mainMenu" id="button7" *ngIf = "logged === true && admin === true"><a class="nav-link" routerLink="/admin">Admin</a>
          </ul>
        </div>
        <button class="btn btn-outline-dark rounded-pill signButtons" *ngIf = "logged === false" routerLink="/login">{{ 'menu-login' | translate }}</button> &nbsp;
        <button class="btn btn-outline-dark rounded-pill signButtons" *ngIf = "logged === false" routerLink="/register">{{ 'menu-join' | translate }}</button>
        <button class="btn btn-outline-dark rounded-pill" *ngIf = "logged === true" (click)="logout()" id="logout">{{ 'menu-logout' | translate }}</button>
        <div class="dropdown"> &nbsp;
          <button class="btn btn-outline-warning rounded-pill dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'menu-language' | translate }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" (click)="switchAppsLanguage('en')">🇺🇸 English</a></li>
            <li><a class="dropdown-item" (click)="switchAppsLanguage('ro')">🇷🇴 Română</a></li>
          </ul>
        </div>
        &nbsp; &nbsp; 
      </nav>
    </header>
    
    <main>
        <div id="heart" *ngIf="displayLandmarkPlanning === false">
            <i class="far fa-heart"></i>
        </div>
        <div id="title" *ngIf="displayLandmarkPlanning === false">
            <h1>{{ 'wishlist-title' | translate }}</h1>
        </div>
        <div id="cityTable" *ngIf="displayLandmarkPlanning === false">
            <table class="table">
                <thead>
                  <tr>
                    <th id="trash" scope="col"></th>
                    <th id="cityName" scope="col">{{ 'wishlist-city' | translate }}</th>
                    <th id="countryName" scope="col">{{ 'wishlist-country' | translate }}</th>
                    <th id="distance" scope="col"></th>
                    <th id="plan" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let city of cityLists">
                    <td>
                      <i class="fas fa-trash" (click)="deleteFunction(city['cityId'])"></i>
                    </td>
                    <td id="name">
                      {{ city['nameEng'] }}
                    </td>
                    <td id="country">
                      {{ city['countryEng'] }}
                    </td>
                    <td>
                      <button class="btn btn-outline-warning rounded-pill">Generate a roadtrip</button> 
                    </td>
                    <td>
                      <button class="btn btn-outline-warning rounded-pill" (click)="openPlanningLandmarks(city)">{{ 'wishlist-plan' | translate }}</button> 
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div id="planningLandmarks" *ngIf="displayLandmarkPlanning === true">
          <button id="goBack" class="btn btn-outline-warning rounded-pill" (click)="closePlanningLandmarks()">{{ 'wishlist-go-back' | translate }}</button>
          <app-plan-landmarks [chosenCity]="chosenCity"></app-plan-landmarks>
        </div>
    </main>

    <!-- <footer>
      <div class="text-center p-3" style="background-color: rgb(250, 143, 35);">
        Copyright © 2023 Andreea Anghelache | All rights reserved
      </div>
    </footer> -->
</div>
    
    
    