<div id="board">
  <header>
    <!-- From bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <!-- <a class="navbar-brand" href="#"> &nbsp; &nbsp; WanderJoy</a> -->
        <img src="../../../assets/photos/logo.png" style="width:130px;height:auto;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="mainMenu" id="button1" class="nav-item active"><a class="nav-link" routerLink="/homepage"> {{ 'menu-home' | translate }} </a></li>
            <li class="mainMenu" id="button3"><a class="nav-link" routerLink="/cities">{{ 'menu-cities' | translate }}</a></li>
            <li class="mainMenu" id="button4" *ngIf = "logged === true"><a class="nav-link" routerLink="/journal">{{ 'menu-journal' | translate }}</a></li>
            <li class="mainMenu" id="button5" *ngIf = "logged === true"><a class="nav-link" routerLink="/wishlist">{{ 'menu-wishlist' | translate }}</a></li>
            <li class="mainMenu" id="button6" *ngIf = "logged === true && admin === false"><a class="nav-link" routerLink="/profile"><i class="fa fa-user"></i></a></li>
            <li class="mainMenu" id="button7" *ngIf = "logged === true && admin === true"><a class="nav-link" routerLink="/admin">Admin</a>
          </ul>
        </div>
        <button class="btn btn-outline-dark rounded-pill signButtons" *ngIf = "logged === false" routerLink="/login">{{ 'menu-login' | translate }}</button> &nbsp;
        <button class="btn btn-outline-dark rounded-pill signButtons" *ngIf = "logged === false" routerLink="/register">{{ 'menu-join' | translate }}</button>
        <button class="btn btn-outline-dark rounded-pill" *ngIf = "logged === true" (click)="logout()" id="logout">{{ 'menu-logout' | translate }}</button>
        <div class="dropdown"> &nbsp;
          <button class="btn btn-outline-warning rounded-pill dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'menu-language' | translate }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" (click)="switchAppsLanguage('en')">🇺🇸 English</a></li>
            <li><a class="dropdown-item" (click)="switchAppsLanguage('ro')">🇷🇴 Română</a></li>
          </ul>
        </div>
        &nbsp; &nbsp; 
      </nav>
    </header>

    <main>
      <div id="mainImages" *ngIf="display === false">
        <div id="image1">
          <img src="{{ image1 }}" style="width:450px;height:685px;" >
        </div>
        <div id="image2">
          <img src="{{ image2 }}" style="width:450px;height:635px;" >
          <div id="motto">
            <p>{{ 'journal-motto' | translate }}</p>
          </div>
        </div>
        <div id="image3">
          <img src="{{ image3 }}" style="width:450px;height:685px;" >
        </div>
      </div>

      <div id="journalContent">
        <div id="posts">
          <div *ngIf="display === false">
            <div id="postGrid" *ngFor="let post of posts" (click)="showPost(post)">
              <div id="leftSide">
                <img src="{{ post['photo'] }}" style="width:100%; height:100%">
              </div>
              <div id="rightSide">
                <p> {{ post['dateWritten'] }} </p>
                <h3> {{ post['name'] }} </h3>
                <p> {{ post['post'] | slice:0:150 }}{{ post['post'].length > 50 ? '...' : ''}}</p>
              </div>
            </div>
          </div>
          <div id="wholePost" *ngIf="display === true">
            <div id="goBack"><button class="btn btn-outline-warning rounded-pill closeButton" (click)="closePost()">{{ 'journal-go-back' | translate }}</button></div>
            <app-journal-post [post]="currentPost"></app-journal-post>
          </div>
        </div>

        <div id="gallery" *ngIf="display === false">
          <h4> {{ 'journal-memories' | translate }} </h4>
          <div id="galleryGrid">
            <div class="image" *ngFor="let image of images">
              <img src="{{ image }}" style="width: 100%; height: 100%;">
            </div>
          </div>
        </div>
      </div>

      <br>

      <div id="addPost" *ngIf="display === false">
        <h1>{{ 'journal-form-motto' | translate }}</h1>
          <div id="addPostForm">
            <form [formGroup]="journalPostForm" (ngSubmit)="addPost()">
              <div class="form-group">
                  <label for="title">{{ 'journal-title' | translate }}</label>
                  <input class="form-control input" 
                  id="title"
                  placeholder="Title"
                  [ngClass]="journalPostForm.controls['name'].errors ? 'is-invalid' : ''"
                  formControlName="name" />
              </div>

              <div class="form-group">
                <label for="post">{{ 'journal-post' | translate }}</label>
                <textarea id="post"
                class="form-control input" 
                placeholder="Post"
                rows="5"
                [ngClass]="journalPostForm.controls['post'].errors ? 'is-invalid' : ''"
                formControlName="post"></textarea>
              </div>

              <div class="form-group">
                <label for="photo">{{ 'journal-photo' | translate }}</label>
                <input class="form-control photoLabel" 
                id="photo"
                placeholder="Photo"
                type="file"
                [ngClass]="journalPostForm.controls['photo'].errors ? 'is-invalid' : ''"
                formControlName="photo" />
              </div>

              <button 
              id="addButton" 
              class="btn btn-dark rounded-pill"
              [disabled]="journalPostForm.invalid" 
              type="submit">
              {{ 'journal-submit' | translate }}
              </button>
            </form>
          </div>
      </div>
    </main>
    
    <footer>
      <div class="text-center p-3" style="background-color: rgb(250, 143, 35);">
        Copyright © 2023 Andreea Anghelache | All rights reserved
      </div>
    </footer>
</div>
    
    
    