// Homepage SCSS 

// Site's colors
$color-1: #FF36D6;
$color-2: #9F2FDE;
$color-3: #5D3FF5;
$color-4: #2F62DE;
$color-5: #25C5FA;

// Main menu
ul{
    list-style: none;
    float: right;
    margin: 10px;
}

ul>li>a{
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 10px;
}

nav{
    height: 55px;
    width: 100%;  
    top: 0;
    right:0;
    float: left;
    background: transparent;
    z-index: 10;
    position: fixed;
}

ul>li{
    display: inline;
    float: left;
    margin: 5px;
}

#loginButton, #registerButton{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    z-index: 100;
}

img{
    width: 100%;
    height: 100%;
}

.imageCredits{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 15px;
    color: white;
}

// Triangle
#triangle1{
    width: 0; 
    height: 0; 
    border-top: 550px solid transparent;
    border-bottom: 550px solid transparent;
    border-left: 550px solid $color-3;
    z-index: 10;
    position: absolute;
    top: 20vh;
    left: 0vw;
}

// Rectangular
#rectangular{
    width: 100%; 
    height: 100vh;
    position: absolute;
    bottom: 200vh;
    left: 0vw;
    z-index: 0;
    background-color: $color-1;
}
