// Homepage SCSS 

// Site's colors
$color-1: #FF36D6;
$color-2: #9F2FDE;
$color-3: #5D3FF5;
$color-4: #2F62DE;
$color-5: #25C5FA;

// Main menu
// ul{
//     list-style: none;
//     float: right;
//     margin: 10px;
// }

// ul>li>a{
//     text-decoration: none;
//     color: var(--text-color);
//     display: block;
//     text-align: center;
//     padding: 10px;
// }

// nav{
//     height: 7vh;
//     width: 100%;  
//     top: 0;
//     right:0;
//     float: left;
//     background: var(--input-color);
//     z-index: 10;
//     position: fixed;
// }

// ul>li{
//     display: inline;
//     float: left;
//     transition: background 0.5s linear;
// }

// #button1:hover, #button2:hover, #button3:hover, #button4:hover, #button5:hover, #button6:hover, #button7:hover{
//     background-color: #25C5FA;
// }

// #loginButton, #registerButton{
//     color: black;
//     text-decoration: none;
//     height: 5vh;
//     width: 6vw;
//     margin: 2px;
// }

// #logoutButton{
//     height: 5vh;
//     width: 6vw;
// }

// #link{
//     color: black;
//     text-decoration: none;
// }

#logout{
    cursor: pointer;
}

nav{
    z-index: 10;
}

img{
    width: 100%;
    height: 100%;
}

.imageCredits{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 15px;
    color: white;
}

// Triangle
#triangle1{
    width: 0; 
    height: 0; 
    border-top: 550px solid transparent;
    border-bottom: 550px solid transparent;
    border-left: 550px solid $color-3;
    z-index: 1;
    position: absolute;
    top: 20vh;
    left: 0vw;
}

.triangleText{
    color: black;
    position: absolute;
    top: -25vh;
    left: -35vw;
    width: 20vw;
    height: 20vh;
}

// Rectangular
#rectangular{
    width: 100%; 
    height: 30vh;
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    z-index: 0;
    background-color: white;
}

.rectangularText{
    position: absolute;
    top: 7vh;
    right: 5vw;
    width: 50vw;
    height: 20vh;
}

#board {
    border: 2px solid lightgrey;
    border-radius: 25px !important;
    height: 98vh;
    margin: 5px;
    margin-top: 10px !important;
    box-shadow: 1px 1px 18px #888888;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.navbar{
    border-top-right-radius: 25px !important; 
    border-top-left-radius: 25px !important; 
}

.backgroundImagesGrid {
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    height: 60vh;
    grid-template-columns: auto;
    box-shadow: 1px 1px 18px #888888;
    z-index: 1;
}

.image1 {
    opacity: 0.7;
    width: 100%;
    height: 60vh;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    object-fit: cover;
    transition: opacity 0.3s linear;
}

.image2 {
    opacity: 0.7;
    width: 100%;
    height: 60vh;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    object-fit: cover;
    transition: opacity 0.3s linear;
}

.image3 {
    opacity: 0.7;
    width: 100%;
    height: 60vh;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    object-fit: cover;
    transition: opacity 0.3s linear;
}

.image1:hover, .image2:hover, .image3:hover {
    opacity: 1;
}

#motto {
    font-size: 50px;
    position: relative;
    top: -130px;
    left: 20px;
    text-align: center;
    z-index: 2;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#explore {
    position: relative;
    top: -100px;
    margin: 40px;
}

#title1 {
    font-size: 20px;
    font-weight: 300;
}

#title2 {
    font-size: 40px;
    font-weight: bold;
}

.btn-outline-warning {
    --bs-btn-font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

#cities {
    margin-top: 20px;
    margin-left: -10px;
    width: 94vw;
    height: 33vh;
    display:flex;
    overflow-x: auto;   
}

.cityImage {
    margin: 10px;
    flex: 0 0 auto;
    object-fit: cover;
}

.imgTagCities {
    width: 20vw;
    height: 25vh;
    border: 2px solid lightgrey;
    border-radius: 25px !important;
}

.cityName {
    font-weight: bold;
}

#favouritesImage {
    position: relative;
    left: 0;
    top: -80px;
    height: 90vh;
    object-fit: cover;
    z-index: 3;
}

#heart1 {
    position: relative;
    top: -20vh;
    left: 20vw;
    font-size: 30px;
    z-index: 4;
    animation-name: heart;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes heart {
    0%   {
        color:crimson; 
        opacity: 0;
    }
    25%  {
        color:crimson;         
        opacity: 0;
    }
    50%  {
        color:crimson;         
        opacity: 1;
    }
    75%  {
        color:crimson;         
        opacity: 1;
    }
    100% {
        color:crimson; 
        opacity: 1;
    }
  }

#heart2 {
    position: relative;
    top: -39vh;
    left: 28vw;
    font-size: 30px;
    z-index: 4;
    animation-name: heart;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 7s;
}

#heart3 {
    position: relative;
    top: -40vh;
    left: 58vw;
    font-size: 30px;
    z-index: 4;
    animation-name: heart;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 12s;
}

#heart4 {
    position: relative;
    top: -40vh;
    left: 42vw;
    font-size: 30px;
    z-index: 4;
    animation-name: heart;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 19s;
}

#heart5 {
    position: relative;
    top: -67vh;
    left: 24vw;
    font-size: 30px;
    z-index: 4;
    animation-name: heart;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 23s;
}

#fav {
    position: relative;
    top: -115vh;
    right: 20px;
    z-index: 4;
    text-align: right;
    font-size: 90px;
    font-weight: bold;
    color: white;
}