<div id="board">
<header>
<!-- From bootstrap -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#"> &nbsp; &nbsp; Travel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="mainMenu" id="button1" class="nav-item active"><a class="nav-link" routerLink="/homepage">Home</a></li>
        <li class="mainMenu" id="button2"><a class="nav-link" href="/aboutUs">About Us</a></li>
        <li class="mainMenu" id="button3"><a class="nav-link" routerLink="/cities">Cities</a></li>
        <li class="mainMenu" id="button4"><a class="nav-link" routerLink="/blog">Blog</a></li>
        <li class="mainMenu" id="button5" *ngIf = "logged === true"><a class="nav-link" routerLink="/wishlist">Wishlist</a></li>
        <li class="mainMenu" id="button6" *ngIf = "logged === true && admin === false"><a class="nav-link" routerLink="/profile"><i class="fa fa-user"></i></a></li>
        <li class="mainMenu" id="button7" *ngIf = "logged === true && admin === true"><a class="nav-link" routerLink="/admin">Admin</a>
        <li class="mainMenu" *ngIf = "logged === false"><a id="link" class="nav-link" routerLink="/login">Log in</a></li>
        <li class="mainMenu" *ngIf = "logged === false"><a id="link" class="nav-link" routerLink="/register">Join</a></li>
        <li class="mainMenu" *ngIf = "logged === true" (click)="logout()" class="nav-link" id="logout">Logout</li>
      </ul>
    </div>
  </nav>
</header>

<main>
    <div class="backgroundImagesGrid">
        <div class="image1">
           <img src="../../../assets/photos/church-g074ba8c09_1920.jpg">
        </div>
        <div class="image2">
          <img src="../../../assets/photos/holidays-g242db8b60_1920.jpg">
        </div>
        <div class="image3">
          <img src="../../../assets/photos/street-gfd332fdc3_1920.jpg">
       </div>
    </div>
    <h1 id="motto">EXPERIENCE EUROPE, <br> WHERE HISTORY MEETS MODERNITY</h1>

    <div id="explore">
      <h5 id="title1">EXPLORE THE OLD CONTINENT</h5>
      <h2 id="title2">FIND OUT USEFUL INFORMATION ABOUT YOUR FUTURE DESTINATION</h2>
      <button id="findOut" class="btn btn-outline-warning rounded-pill"><a href="/cities">View all capitals</a></button>

      <div id="cities">
        <div class="cityImage" *ngFor="let city of cities">
          <img class="imgTagCities" src="../../../assets/photos/tiber-river-g7c6d8b51f_1920.jpg">
          <h3 class="cityName"> &nbsp; Rome </h3>
        </div>
      </div>

    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>

</main>
</div>


