// Homepage SCSS 

// Site's colors
$color-1: #E0D8B0;
$color-2: #ffc533;
$color-3: #CE9461;
$color-4: #FCFFE7;
$color-5: #DEA057;
$color-6: #ccaf8f;

#logout{
    cursor: pointer;
}

nav{
    z-index: 10;
}

img{
    width: 100%;
    height: 100%;
}

.imageCredits{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 15px;
    color: white;
}

#board {
    border: 2px solid lightgrey;
    border-radius: 25px !important;
    height: 98vh;
    margin: 5px;
    margin-top: 10px !important;
    box-shadow: 1px 1px 18px #888888;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.navbar{
    border-top-right-radius: 25px !important; 
    border-top-left-radius: 25px !important; 
}

.backgroundImagesGrid {
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    height: 60vh;
    grid-template-columns: auto;
    box-shadow: 1px 1px 18px #888888;
    z-index: 1;
}

.image1 {
    opacity: 0.7;
    width: 100%;
    height: 60vh;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    object-fit: cover;
    transition: opacity 0.3s linear;
}

.image2 {
    opacity: 0.7;
    width: 100%;
    height: 60vh;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    object-fit: cover;
    transition: opacity 0.3s linear;
}

.image3 {
    opacity: 0.7;
    width: 100%;
    height: 60vh;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    object-fit: cover;
    transition: opacity 0.3s linear;
}

.image4 {
    display: none;
}

.image1:hover, .image2:hover, .image3:hover {
    opacity: 1;
}

#motto {
    font-size: 50px;
    position: relative;
    top: -200px;
    margin: 50px;
    text-align: center;
    z-index: 2;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#explore {
    position: relative;
    top: -170px;
    margin: 40px;
}

#title1 {
    font-size: 20px;
    font-weight: 300;
}

#title2 {
    font-size: 40px;
    font-weight: bold;
}

#findOut > a {
    text-decoration: none;
    color: black;
}

#cities {
    margin-top: 20px;
    margin-left: -10px;
    width: 94vw;
    height: 33vh;
    display:flex;
    overflow-x: auto;   
}

.cityImage {
    margin: 10px;
    flex: 0 0 auto;
    object-fit: cover;
}

.imgTagCities {
    width: 320px;
    height: 200px;
    border: 2px solid lightgrey;
    border-radius: 25px !important;
}

.cityName {
    font-weight: bold;
} 

.card {
    width: 20rem;
}

#infoGrid {
    position: relative;
    top: -80px;
    left: 0;
    right: 0;
    display: flex;
    height: 70vh;
    padding: 45px;
    // background-image: url("../../../assets/photos/map-homepage.jpg");
}

.exploreGrid {
    border: 2px solid $color-2;
    flex: 33.33%;
    border-radius: 25px;
    padding: 15px;
    margin-right: 60px;
    margin-left: 10px;
    transition: background-color 0.2s linear
}

.planGrid {
    border: 2px solid $color-2;
    flex: 33.33%;
    border-radius: 25px;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.2s linear
}

.favGrid {
    border: 2px solid $color-2;
    flex: 33.33%;
    border-radius: 25px;
    padding: 15px;
    margin-left: 60px;
    margin-right: 10px;
    transition: background-color 0.3s linear;
}

.exploreGrid:hover, .planGrid:hover, .favGrid:hover {
    background-color: $color-2;
    box-shadow: 1px 1px 18px #888888;
}

.dropdown-item {
    cursor: pointer;
}

.dropdownLi {
    cursor: pointer;
}

#presentationGrid {
    position: relative;
    top: -140px;
    left: 0;
    right: 0;
    display: flex;
    background-color: $color-1;
    height: 550px;
    margin: 40px;
    box-shadow: 1px 1px 18px #888888;
}

#presentationGif {
    flex: 35%;
}

#presentation {
    flex: 65%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px;
    text-align: justify;
}

#presentation h2 {
    text-align: center;
    padding: 30px;
}

.navigation>ul>li {
    list-style-type: none;
}

.navigation>ul>li>a {
    color: white;
}

address>a{
    color: white;
}

#upButton {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 18px #888888;
    font-size: larger;
}

#up{
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 10;
}

a {
    text-decoration: none;
}

.card h5 {
    text-align: center;
    margin: 20px;
    margin-bottom: 40px !important;
}

.card-text {
    padding: 30px;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    text-align: justify;
}

// responsive screens
// iPad Air + landscape
@media (min-width: 1024px)  and (max-width: 1180px) and (orientation: landscape) {
}

// iPad Air + portrait
@media (min-width: 768px) and (max-width: 820px) and (orientation: portrait) {
    .backgroundImagesGrid {
        height: 800px;
        position: relative;
        top: 0;
        left: 0;
    }
    
    .image1 {
        opacity: 0.7;
        width: 410px;
        height: 400px;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        object-fit: cover;
        transition: opacity 0.3s linear;
    }
    
    .image2 {
        opacity: 0.7;
        width: 400px;
        height: 400px;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        object-fit: cover;
        transition: opacity 0.3s linear;
    }
    
    .image3 {
        opacity: 0.7;
        width: 410px;
        height: 400px;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        object-fit: cover;
        transition: opacity 0.3s linear;
    }
    
    .image4 {
        display: block;
        opacity: 0.7;
        width: 400px;
        height: 400px;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        object-fit: cover;
        transition: opacity 0.3s linear;
    }

    .image4:hover {
        opacity: 1;
    }

    #motto {
        font-size: 50px;
        position: relative;
        top: -500px;
        left: 20px;
    }

    #explore {
        position: relative;
        top: -150px;
    }

    #infoGrid {
        display: block;
    }

    .favGrid {
        width: 100%;
        padding-bottom: 40px;
        position: relative;
        top: -70px;
        left: -60px;
    }

    .planGrid {
        width: 100%;
        padding-bottom: 40px;
        position: relative;
        top: 0px;
        left: 0px;
    }

    .exploreGrid {
        width: 100%;
        padding-bottom: 40px;
        position: relative;
        top: 70px;
        left: 0px;
    }

    .imgTagCities {
        width: 400px;
        height: 300px;
    }
}

// iPhone 12 Pro + landscape 
@media (min-width: 844px)  and (max-width: 844px) and (orientation: landscape) {
    .backgroundImagesGrid {
        height: 300px;
        display: flex;
    }

    .image1 {
        flex: 50%;
        height: 300px;
    }

    .image2 {
        flex: 50%;
        height: 300px;
    }

    .image3, .image4 {
        display: none;
    }

    #motto {
        position: relative;
        top: -150;
        font-size: 35px;
    }

    .imgTagCities {
        width: 150px;
        height: 90px;
    }

    .cities {
        height: 350px;
    }

    #presentationGrid {
        position: relative;
        top: -80px;
        left: 0;
        display: block;
        font-size: 12px;
        margin: 15px;
        word-wrap: break-word;
        height: 400px;
    }

    #presentationGif {
        display: none;
    }

    #infoGrid {
        display: block;
    }

    .favGrid {
        width: 100%;
        padding-bottom: 40px;
        position: relative;
        top: -30px;
        left: 0px;
        margin: 0 !important;
    }

    .planGrid {
        width: 100%;
        padding-bottom: 40px;
        position: relative;
        top: 0px;
        left: 0px;
        margin: 0 !important;
    }

    .exploreGrid {
        width: 100%;
        padding-bottom: 40px;
        position: relative;
        top: 30px;
        left: 0px;
        margin: 0 !important;
    }

    footer {
        margin-top: 500px;
    }
}

// iPhone 12 Pro + portrait
@media (min-width: 390px)  and (max-width: 390px) and (orientation: portrait) {
    .backgroundImagesGrid {
        height: 300px;
        position: relative;
        top: 0;
        left: 0;
    }
    
    .image1 {
        opacity: 0.7;
        width: 400px;
        height: 400px;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        object-fit: cover;
        transition: opacity 0.3s linear;
    }
    
    .image2, .image3, .image4 {
        display: none;
    }

    #motto {
        position: relative;
        top: -150px;
        left: 0px;
        font-size: 28px;
    }

    #explore {
        position: relative;
        top: 0px;
    }

    #title2 {
        font-size: 28px;
    }

    .imgTagCities {
        width: 250px;
        height: 200px;
    }

    #presentationGif {
        display: none;
    }

    #presentationGrid {
        position: relative;
        top: 30px;
        left: 0;
        display: block;
        font-size: 12px;
        margin: 15px;
        word-wrap: break-word;
        height: 650px;
    }

    #presentation {
        margin: 0;
        height: 70vh;
    }

    #infoGrid {
        display: block;
    }

    .favGrid {
        width: 100%;
        padding-bottom: 40px;
        position: relative;
        top: 50px;
        left: 0px;
        margin: 0 !important;
    }

    .planGrid {
        width: 100%;
        padding-bottom: 40px;
        position: relative;
        top: 80px;
        left: 0px;
        margin: 0 !important;
    }

    .exploreGrid {
        width: 100%;
        padding-bottom: 40px;
        position: relative;
        top: 110px;
        left: 0px;
        margin: 0 !important;
    }

    footer {
        margin-top: 800px;
    }
}
