<header>
    <nav>
        <ul>
            <li class="mainMenu"><a routerLink="/homepage">Home</a></li>
            <li class="mainMenu"><a href="/aboutUs">About Us</a></li>
            <li class="mainMenu"><a href="/cities">Cities</a></li>
            <li class="mainMenu"><a href="/blog">Blog</a></li>
            <li class="" *ngIf = "userAdmin === true"><a href="/profile"><i class="fa fa-user"></i></a></li>
            <li class="mainMenu" id="loginButton"><a routerLink="/login">Sign in</a></li>
            <li class="mainMenu" id="registerButton"><a routerLink="/register">Join</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="backgroundImage">
        <img src="../../../assets/photos/pexels-alex-azabache-3757144.jpg" alt="">
        <div class="imageCredits">
            Fotografie de la Alex Azabache: https://www.pexels.com/ro-ro/fotografie/madrid-arhitectura-turism-calatorie-3757144/
        </div>
    </div>

    <div id="triangle1"></div>
    <div id="rectangular"></div>

</main>
