// Site's colors
$color-1: #E0D8B0;
$color-2: #ffc533;
$color-3: #CE9461;
$color-4: #FCFFE7;
$color-5: #DEA057;

#post {
    width: 700px;
    background-color: $color-4;
    opacity: 0.7;
    box-shadow: 1px 1px 15px gray;
    padding: 50px;
    text-align: justify;
}

img {
    margin-top: 30px;
    margin-bottom: 30px;
}

#postGrid {
    display: flex;
    justify-content: center;
    align-items: center;
}

#getPdfButton {
    position: absolute;
    left: 0;
    top: 50px;
}

.pdfButton {
    --bs-btn-border-width: 2px;
    --bs-btn-font-weight: bold;
    --bs-btn-color: black;
    --bs-btn-border-color: #{$color-3};
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #{$color-3};
    --bs-btn-hover-border-color: #{$color-3};
}

// responsive screens
// iPad Air + landscape
@media (min-width: 1024px)  and (max-width: 1180px) and (orientation: landscape) {
}

// iPad Air + portrait
@media (min-width: 768px) and (max-width: 820px) and (orientation: portrait){

}

// iPhone 12 Pro + landscape 
@media (min-width: 844px)  and (max-width: 844px) and (orientation: landscape) {

}

// iPhone 12 Pro + portrait
@media (min-width: 390px)  and (max-width: 390px) and (orientation: portrait) {

}