<div id="board">
    <header>
    <!-- From bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <!-- <a class="navbar-brand" href="#"> &nbsp; &nbsp; WanderJoy</a> -->
        <img src="../../../assets/photos/logo.png" style="width:130px;height:auto;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="mainMenu" id="button1" class="nav-item active"><a class="nav-link" routerLink="/homepage"> {{ 'menu-home' | translate }} </a></li>
            <li class="mainMenu" id="button3"><a class="nav-link" routerLink="/cities">{{ 'menu-cities' | translate }}</a></li>
            <li class="mainMenu" id="button8"><a class="nav-link" routerLink="/topDestinations">{{ 'menu-destinations' | translate }}</a></li>
            <li class="mainMenu" id="button4" *ngIf = "logged === true"><a class="nav-link" routerLink="/journal">{{ 'menu-journal' | translate }}</a></li>
            <li class="mainMenu" id="button5" *ngIf = "logged === true"><a class="nav-link" routerLink="/wishlist">{{ 'menu-wishlist' | translate }}</a></li>
            <li class="mainMenu" id="button6" *ngIf = "logged === true"><a class="nav-link" routerLink="/profile"><i class="fa fa-user"></i></a></li>
            <li class="mainMenu" id="button7" *ngIf = "logged === true && admin === true"><a class="nav-link" routerLink="/admin">Admin</a>
          </ul>
        </div>
        <button class="btn btn-outline-dark rounded-pill signButtons" *ngIf = "logged === false" routerLink="/login">{{ 'menu-login' | translate }}</button> &nbsp;
        <button class="btn btn-outline-dark rounded-pill signButtons" *ngIf = "logged === false" routerLink="/register">{{ 'menu-join' | translate }}</button>
        <button class="btn btn-outline-dark rounded-pill" *ngIf = "logged === true" (click)="logout()" id="logout">{{ 'menu-logout' | translate }}</button>
        <div class="dropdown"> &nbsp;
          <button class="btn btn-outline-warning rounded-pill dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'menu-language' | translate }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" (click)="switchAppsLanguage('en')">🇺🇸 English</a></li>
            <li><a class="dropdown-item" (click)="switchAppsLanguage('ro')">🇷🇴 Română</a></li>
          </ul>
        </div>
        &nbsp; &nbsp; 
      </nav>
    </header>

    <main>
        <div class="container">
            <div class="d-flex justify-content-center flex-column align-items-center">
              <h1>{{ 'menu-destinations' | translate }}</h1>
              <div id="citiesCards" class="d-flex flex-wrap">
                <div class="card" style="width: 15rem;" *ngFor="let city of topDestinations">
                  <img src="../../../assets/photos/citiesInfoImages/{{ city['photo'] }}" class="img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{ city[cityNameAttribute] }}</h5>
                    <h6> {{ city[cityCountryAttribute] }} </h6>
                    <h6> {{ city['averageRating'] }}&nbsp;⭐️ </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

        <footer>
            <div class="text-center p-3" style="color: white; background-color: black;">
                Copyright © 2023 Andreea Anghelache | All rights reserved
            </div>
        </footer>
    </main>
</div>
